@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

.main-content, .trends, .shop-block, .footer {
    font-family: OpenSans, sans-serif;
    color: #0f0d0e;
  }
  
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.line:after {
    display: block;
    content: "";
    width: 66px;
    height: 3px;
    margin: 10px auto 20px auto;
    background-color: #e1d9bd;
  }
.title {
    text-transform: uppercase;
    font-size: 14px;
    color: #0f0d0e;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-top: 15px;
}

.header {
  font-family: OpenSans, sans-serif;
  background-color: #000000;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  z-index: 0;
  padding-top: 30px;
  padding-bottom: 125px;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.logo{
    width: 180px;
}

.menu-list {
    display: flex;
    list-style-type: none;
    font-size: 13px;
  }

.menu-list-el:nth-child(n+2) {  
    margin-left: 35px;
}

.menu-list-link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
  }  

.header-title {
    max-width: 700px;
    margin: 101px auto 0;  
}

.header-text {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 75px;
    text-align: center;
    margin: 0;
  }

.trends {

    width: 100%;
    margin-top: 60px;
    background-color: #ffffff;

}

.trends-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    /*text-transform: uppercase;
    font-size: 14px;
    color: #0f0d0e;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-top: 15px;*/
  }

  .trends-title:after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    background: #b59f5b;
    position: absolut;
    margin: 7px auto 0;
    opacity: 0.400;
}

.trends-content {
    display: flex;
    justify-content: space-between;
  }

.trends-card {
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: flex-end;
    width: 25%;
    min-height: 320px;
    padding: 15px 20px;
  }

.trends-card:after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1;
  }

.img-card1 {
    background-image: url("../images/trend1.jpg");
  }
  
.img-card2 {
    background-image: url("../images/trend2.jpg");
  }
  
.img-card3 {
    background-image: url("../images/trend3.jpg");
  }
  
.img-card4 {
    background-image: url("../images/trend4.jpg");
  }

.trend-card {
    padding: 33px 33px;
    border: 3px solid #b59f5b;
    flex-grow: 1;
  }

.categories {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
  }

.category:nth-child(n+2) {
    margin-left: 18px;
  }

.category-link {
    color: #b59f5b;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
  } 

 .category-link:hover {
    color: #b59f5b;
    text-transform: uppercase;
    text-decoration: underline;
}

.trend-title {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    /* margin-bottom: 35px; */
    box-sizing: border-box;
    max-height: 150px;
    display: flex;
    overflow: hidden;
}



/*.main-content {
    max-width: 1200px;
    padding: 0 15px;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-between;
  }*/

.main-content {
    display: flex;
    /*aside-bar сбоку*/
    flex-wrap: nowrap;
    width: 1200px;
    margin: auto;
    padding: 40px 15px 60px;
    background-color: #ffffff;
    justify-content: space-between;
}
 
  
.main-posts {
    width: 780px;
  }

.post {
    display: flex;
  }

.post:nth-child(n+2) {
    margin-top: 60px;
  }  

.post-img {
    min-width: 380px;
    object-fit: contain;
    object-position: center top;
  }

.post-box {
    margin-left: 30px;
  }

.post-title {
    margin-top: 6px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
  }

.post-link {
    color: #0f0d0e;
    text-decoration: none;
    text-transform: uppercase;
  }

.post-info {
    margin-top: 25px;
  }  

.post-date {
    color: #888888;
    font-size: 12px;
  }

.post-autor {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 14px;
  }

.post-content {
    margin-top: 44px;
    font-size: 15px;
    line-height: 1.5;
  }

.post-text:nth-child(n+2) {
    margin-top: 10px;
  }

.side-bar {
    width: 270px;
    margin-left: 120px;
  }

.sidebar-block:nth-child(n+2) {
    margin-top: 60px;
  }

.sidebar-block-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

.sidebar-article {
    display: flex;
    align-items: flex-start;
  }
  
.sidebar-article:nth-child(n+2) {
    margin-top: 14px;
  }

.aside-img {
    min-width: 70px;
    margin-top: 8px;
    margin-right: 19px;
  }
  
.sidebar-title-text {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

 /*СТИЛИ ДЛЯ ФОРМ*/
  
.form-search {
  margin-top: 60px;
  display: flex;
}

.label {
  flex-grow: 1;
} 

.empty {
  width: 0px;
  height: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.field {
  display: block;
  height: 47px;
  width: 100%;
  padding-left: 17px;
  padding-right: 17px;
  background-color: #f4f7f6;
  border-radius: 0;
  border: 1px solid #f4f7f6;
  font-family: inherit;
  font-size: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button {
  height: 47px;
  border: none;
  background-color: #b59f5b;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.search-button {
  display: inline-block;
  width: 47px;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 19px auto;
  background-position: center center;
}

.email-button {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  list-style-type: none;
}

.tag-el {
  margin-right: 5px;
  margin-bottom: 6px;
  border: 3px solid #eeeeee;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: bold;
}

.topics {
  margin-top: 25px;
  list-style-type: none;
}

.topic {
  padding: 14px 0 12px 0;
  border: 1px solid;
  border-color: transparent transparent #eeeeee transparent;
  font-size: 14px;
  font-weight: bold;
}

a.capital {
  text-transform: none;
}

.uppercase {
  color: #b59f5b;
  vertical-align: super;
  font-size: 12px;
  font-weight: bold;
}

.shop-block {
  margin-top: 62px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.products {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 23px;
  display: flex;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-description {
  width: 300px;
  margin-top: -9px;
  padding-top: 29px;
  padding-bottom: 9px;
  outline: 3px solid #b59f5b;
  outline-offset: 20px;
  flex-grow: 1;
}

.product-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.product-text {
  margin-top: 2px;
  font-size: 15px;
  line-height: 1.5;
}


.product-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 24px;
  position: relative;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}

.old-price {
  position: absolute;
  left: 0;
  bottom: 25px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: line-through;
}

.shop-button {
  width: 140px;
}


.footer {
  max-width: 1200px;
  margin: 84px auto 0 auto;
  padding: 0 15px 20px;
}

.footer-content {
  background-color: #f4f7f6;
  padding: 30px 0;
}

.emblems {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.emblems-el:nth-child(n+2){
  margin-left: 30px;
}

.icon {
  display: block;
  min-width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.twitter {
  background-image: url("../svg/004-twitter.svg");
}

.pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.instagram {
  background-image: url("../svg/005-instagram.svg");
}

.tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright {
  max-width: 1200px;
  text-align: center;
  margin-top: 72px;
}

.copyright-link {
  color: #999999;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}